<div class="nav">
  <a class="logo" href="/">MS-Watchlist</a>
  <ul class="nav-links">
    {{#if user}}
    <a href="/movies" class="line1">Movies</a>
    <a href="/movies/add" class="line2">Add Movie</a>
    <a href="/about" class="line3">About</a>

    <a href="/users/logout">Logout</a>
    {{else}}
    <a href="/users/login" class="nav-link">Login</a>
    <a href="/users/register" class="nav-link">Register</a>
    {{/if}}
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </ul>
</div>