<div class="search">
  {{!-- <h1 class="display-3">{{title}}</h1> --}}

  
    <h3 class="text-center">Search for a Movie or TV Serie</h3>
    <form id="searchForm">
      <input type="text" class="form-control" id="searchText" placeholder="Search Movie or TV Serie">
    </form>
  </div>

<div class="container">
  <div id="movies" class="row"></div>
</div>
  