<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Blah blah blah..</p>
  <a href="/movies/add" class="btn btn-dark brn-lg">Add a movie you have seen</a>
</div>
  