* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url(../img/watching-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100vh;
  width: 100vw;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  font-family: 'Lato', sans-serif;
}

.logo{
  color: rgb(172, 172, 172);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: rgb(172, 172, 172);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger{
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(172, 172, 172);
  color: antiquewhite;
  margin: 5px;
}

#movies img, #movie img {
  width: 100%;
}

#movies .col-md-3 .well{
  height: 390px;
}
#movies .col-md-3 img{
  height: 240px;
}

@media screen and (max-width:1024px){
  .nav-links{
    width: 50%;
  }
}

@media screen and (max-width:768px){
  .nav-links{
    position: absolute;
    top: 8vh;
  }
  .burger{
    display: block;
  }
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.hero-text-box {
  position: center;
  top: 50%;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: aqua;
  font-size: 240%;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: white;
}

.btn-full {
  background-color: burlywood;
  border: 1px solid white;
}

.btn-ghost {
  border: 1px solid white;
}

.main-nav {
  float: left;
  list-style: none;
}
